body {
  background-color: #ccc;
}

.container {
  width: 40%;
  max-width: 1280px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* input#male, input#female {
  width: auto;
  height: auto;
  display: initial;
} */

/*
label[for="male"], label[for="female"] {
  display: inline;
} */

span {
    display: block;
    margin-bottom: 25px;
    color: red;
}

.error {
    border-color: red !important;
}

input[type="text"], input[type="email"], input[type="password"]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 25px;
}

input[type="submit"]:hover {
  background-color: #45a049;
}
