@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

button, a, input {
  font-family: 'Poppins', sans-serif;
}

/* .container {
  width: 40%;
  max-width: 1280px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
} */


.row {
  display: flex;
  flex-wrap:wrap;
  /* gap: 20px; */
  align-items: center;
}

.col-8 {
  flex: 55%;
}

.col-4 {
  flex: 45%;
}

.text-muted {
  font-weight: 400;
  color: #878686;
}

.form-container {
  padding: 0 60px;
}

.m-0 {
  margin: 0;
}

span {
    display: block;
    margin-bottom: 25px;
    color: red;
}

.error {
    border-color: red !important;
}

input[type="text"], input[type="email"], input[type="password"]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #5B533E;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 25px;
}

input[type="submit"]:hover {
  background-color: #2A2410;
}

.container img {
  height: 100vh;
  object-fit: cover;
  margin-bottom: -20px;
}

.register-link {
  text-align: center;
  display: block;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.exercise-container {
  width: 100%;
  margin: 0 auto;
  max-width: 500px;
  text-align: center;
}

span#exercise-counter {
  display: inline !important;
}

#workout-heading {
  text-transform: capitalize;
}