<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Back To Home</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="exercise-container">
        <h1 id="exercise-heading">Back To Home</h1>
        <!-- <img src="../images/exhausted-runner.png" alt="" width="100%" id="exercise-image"> -->
        <h2>Time Count: <span id="exercise-counter">3</span></h2>
    </div>

    <script src="../js/backToHome.js"></script>
</body>
</body>
</html>