<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise Start</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="exercise-container">
        <h1 id="workout-heading"></h1>
        <h2 id="exercise-heading"></h2>
        <img src="../images/man-lifting-barbell.gif" alt="" width="100%" id="exercise-image">
        <h2>Time Count: <span id="exercise-counter"></span></h2>
    </div>

    <script src="../js/exerciseStart.js"></script>
</body>
</html>