<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Validation</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="container">
        <h1>Register</h1>
        <form action="" method="get" id="registerForm">
            <label>Username</label>
            <input type="text" id="username">
            <span id="usernameError"></span>

            <label>Email</label>
            <input type="email" id="email">
            <span id="emailError"></span>
            
            <label>Passowrd</label>
            <input type="password" id="password">
            <span id="passwordError"></span>
            
            <label>Conform Password</label>
            <input type="password" id="conformPassword">
            <span id="conformPasswordError"></span>

            <label>Gender:</label>
            <input type="radio" value="Male" name="gender" id="male"> 
            <label for="male">Male</label>
            <input type="radio" value="Female" name="gender" id="female">
            <label for="female"> Female </label>
            <span id="genderError"></span>

            <input type="submit" value="SignUp">
        </form>
    </div>
    <script src="../js/register.js"></script>
</body>
</html>