<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resting Time</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="exercise-container">
        <h1 id="exercise-heading">Resting Time</h1>
        <img src="../images/exhausted-runner.png" alt="" width="100%" id="exercise-image">
        <h2>Time Count: <span id="exercise-counter">5</span></h2>
    </div>

    <script src="../js/restingTime.js"></script>
</body>
    
</body>
</html>